svg {
  --logoColor: var(--ion-color-primary-contrast, #ffffff);
  --gradientColor: var(--ion-color-primary, #005eff);
  --lGradientColor: lighten(var(--gradientColor), 10%);
}

#top {
  stop-color: var(--lGradientColor);
}

#bottom {
  stop-color: var(--gradientColor);
}

#iconLogo {
  fill: var(--logoColor);
}
